{% extends 'layout/productor_layout.html' %}

{% block title %}
    Productor
{% endblock %}

{% block content %}
    <header class="masthead" style="background: whitesmoke">
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	 <script>

    </script>
     <section id="Productor">
         <div class="container" >
            <div class="row">
                <h1 style="color: black">Productos a Ofertar</h1>
            </div>
            <div class="row">
                <table class="table table-responsive">
                    <thead>
                        <tr style="color: black">
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-1">Nombre</th>
                            <th class="col-xs-1">Descripcion</th>
                            <th class="col-xs-1">Unidad</th>
                            <th class="col-xs-1">Categoria</th>
                        </tr>
                    </thead>
                    <tbody >

                    </tbody>
                </table>
            </div>
            <div class="row" >
                <div class="col-md-8" id="pagination">

                </div>
            </div>
         </div>
     </section>
    </header>
{% endblock %}