{% extends 'layout/productor_layout.html' %}

{% block title %}
    Productor
{% endblock %}

{% block content %}
    <header class="masthead" style="background: whitesmoke">
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	 <script src="//code.jquery.com/jquery-1.11.3.js"></script>
	 <script>
        (function () {
		    $.getJSON( "http://localhost:8000/productor/listaProductos/").done(function (data) {
			     mostrarProductos(data[0].productos, data[0].productosPag.first_row)
                 paginacion(data[0].productosPag)
                });
        })();

		function enviarForm(page) {
		    $.ajax({
                type: "GET",
                url: "http://localhost:8000/productor/listaProductos/?page="+page,
                contentType: "aplication/json; charset-utf-8",
                success: function (data) {
                    mostrarProductos(data[0].productos, data[0].productosPag.first_row)
                    paginacion(data[0].productosPag)
                },
                failure: function (errMsg) {
                    alert("Hubo un error");
                }
            });
            return false;
        };

		function mostrarProductos(productos, current){
		    console.log(productos)
		    $('#listaProductos').empty()
            $.each(productos, function (i, item) {
                var row = current
                $('#listaProductos').append("<tr style=\"color: black\"style=\"color: black\"> " +
                                              "<th scope='row'>"+(row+i)+"</th>"+
                                              "<td>"+item.nombre+"</td>" +
                                              "<td class='text-left'>"+item.descripcion+"</td>" +
                                              "<td>"+item.tipoUnidad+"</td>"+
                                              "<td>"+item.categoria+"</td>"+
                                              "<td>"+"<button class='btn btn-primary'>Hacer Oferta</button>"+"</td>"+
                                            "</tr>")
                i++
             });
        };
		function paginacion(productosPag){
		    $('#pagination').empty()
		    if (productosPag.has_other_pages){
                $('#pagination').append("<ul class='pagination' id='paginationList'></ul>")
                if (productosPag.has_previous)
                    $('#paginationList').append("<li><button onclick='enviarForm("+productosPag.previous_page_number+")'  class='btn btn-basic'>&laquo;</button></li>")
                else
                    $('#paginationList').append("<li class='disabled'><span>&laquo;</span></li>")
                for (i = 1; i <= productosPag.page_range; i++) {
                if (productosPag.current_page == i )
                    $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-primary'>"+i+"</button></li>")
                else
                    $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-basic'>"+i+"</button></li>")
                }
                if (productosPag.has_next){
                    $('#paginationList').append("<li><button onclick='enviarForm("+productosPag.next_page_number+")'  class='btn btn-basic'>&raquo;</button></li>")
                } else {
                    $('#paginationList').append("<li class='disabled'><span>&raquo;</span></li>")
                }
            }
        }
    </script>
     <section id="Productor">
         <div class="container" >
            <div class="row">
                <h1 style="color: black">Productos a Ofertar</h1>
            </div>
            <div class="row">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr style="color: black">
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-1">Nombre</th>
                            <th class="col-xs-1">Descripcion</th>
                            <th class="col-xs-1">Unidad</th>
                            <th class="col-xs-1">Categoria</th>
                            <th class="col-xs-1"></th>
                        </tr>
                    </thead>
                    <tbody id="listaProductos">

                    </tbody>
                </table>
            </div>
            <div class="row" >
                <div class="col-md-4" id="pagination">

                </div>
            </div>
         </div>
     </section>
    </header>
{% endblock %}