dj-config-url==0.1.1
dj-database-url==0.4.0
dj-static==0.0.6
Django==1.11.4
django-autoslug==1.9.3
django-bootstrap3==6.2.2
django-core==1.4.1
django-cors-headers==2.1.0
django-heroku-postgresify==0.4
django-storages==1.4
django-toolbelt==0.0.1
ez-setup==0.9
gunicorn==19.4.5
image==1.5.11
olefile==0.44
Pillow==3.0.0
psycopg2==2.6.2
python-dateutil==2.6.1
pytz==2017.2
selenium==3.6.0
sendgrid==5.2.0
simplejson==3.11.1
static3==0.7.0
