
<div class="modal fade" id="agregar_prod_modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height: 50px">
                <h3><span style="color: black"> Agregar al carrito</span></h3>
            </div>
            <div class="modal-body">
                <!--suppress HtmlUnknownTarget -->
                <form role="form" action="agregar_producto" method="post" enctype="multipart/form-data" id="addProd-form" novalidate="novalidate">
                {% csrf_token %}
                    <h4 style="text-align: center; font-weight: bold; color: black">{{ producto.producto.nombre }}</h4>
                    <br/>
                    <div>
                        <input type="number" width="10px" min="0"  id="cantidad" class="col-md-4 col-right form-control" name="cantidad" >
                        <h4 style="text-align: center; font-weight: bold; color: black" class="col-md-8 col-left" > X {{producto.producto.tipoUnidad.nombre}}</h4>
                    </div>
                    <br/><br/>
                    <div class="modal-footer btn-toolbar">
                        <button type="submit"id="id_agregar" class="btn btn-default btn-success pull-right">
                            <span class="glyphicon glyphicon-save"></span> Agregar
                        </button>
                        <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                                style="margin-left: 5px">
                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedFunction -->
<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#addProd-form").validate({
            rules: {
                cantidad: {
                    min: 0,
                    required: true,
                    number: true
                },
            },
            messages: {
                cantidad: "Por favor ingrese la cantidad a comprar",
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#agregar_prod_modal').on('hidden.bs.modal', function () {
            validator.resetForm();
        })
        $( ".toggle-visibility" ).click(function() {

          var target_selector = $(this).attr('data-target');
          var $target = $( target_selector );

          if ($target.is(':visible'))
          {
            $target.hide( "slow" );
          }
          else
          {
            $target.show( "slow" );
          }
          console.log($target.is(':visible'));
        });
    });
</script>