{% extends 'layout/consumidor_layout.html' %}

{% block title %}
    Compras
{% endblock %}

{% block content %}
    <header class="masthead" style="background: whitesmoke">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
        function agregar(productoId,cantidad)
        {
            $.ajax({
               type: "POST",
               url: "http://localhost:8000/consumidor/catalogo_compras/agregar_producto/",
               data: JSON.stringify({ productoId : productoId , cantidad : cantidad }),
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (data) {
                   console.log(data);
                   alert('Producto agregado');
                   window.location = "http://localhost:8000/consumidor/catalogo_compras/";
               },
               failure: function(errMsg){
                   alert("Hubo un error");
               }
            });
        };

    </script>
    <section id="Consumidor">
        <div class="container" >
            <div class="row">
                <h1 style="color: black">Compras</h1>
            </div>
            <div class="row" id="filtroCategoria">
                <div class="col-md-4 text-left col-centered">
                    <form method="post" action="" enctype="multipart/form-data" name="filtro">
                        <div class="form-group" >
                            <label for="listaCategorias" style="color: black">Filtro:</label>
                            <select id="listaCategorias" onchange="enviarForm()" class="form-control" style="height: 30px">
                                <option selected value="-1">Todos...</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            </br>
            <div class="row">
                {% for producto in productos %}
                    <div class="col-md-3 col-sm-6 col-lg-3" style="padding:0 5px 0 5px ;">
                        <div class="panel panel-default" style="padding:0; height: 350px;">
                           <div class="panel-body">
                               <div style="height: 150px">
                                    <img class="img-responsive" src="/{{producto.producto.imagen}}" style="margin: 0 auto; max-height: 150px">
                               </div>
                               <div style="height: 120px">
                                   <h3 style="text-align: center; font-weight: bold; color: black">{{producto.id_producto.nombre}}</h3>
                                   <span style="text-align: center; overflow: auto; color: black">${{producto.precio_definido}}</span><br/>
                                   <span style="text-align: center; overflow: auto; color: black" >Unidad X {{producto.id_producto.id_tipo_unidad.nombre}}</span>
                                   <br/><br/>
                                   <!--<button onclick="return agregar({{ producto.id  }})" type="submit" class="btn btn-primary" data-form="{{ producto.id }}">
                                       <span class="glyphicon glyphicon-shopping-cart"></span> Añadir al carrito
                                   </button>-->
                                   <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#agregar_prod_modal{{ producto.id }}">
                                       <span class="glyphicon glyphicon-shopping-cart"></span> Añadir al carrito
                                   </button>

                                   <div class="modal fade" id="agregar_prod_modal{{ producto.id }}" tabindex="-1" role="dialog" >
                                    <div class="modal-dialog" role="document" id="{{ producto.id }}">
                                        <div class="modal-content">
                                            <div class="modal-header" style="height: 50px">
                                                <h3><span style="color: black"> Agregar al carrito</span></h3>
                                            </div>
                                            <div class="modal-body">
                                                <!--suppress HtmlUnknownTarget -->
                                                <form   id="form" role="form" action="agregar_producto" method="post" enctype="multipart/form-data" id="addProd-form" novalidate="novalidate">
                                                {% csrf_token %}
                                                    <h4 id="nombre" style="text-align: center; font-weight: bold; color: black" >{{ producto.id_producto.nombre }}</h4>
                                                    <br/>
                                                    <div>
                                                        <input type="number" width="10px" min="0"  id="cantidad{{producto.id_producto}}" value="0" class="col-md-4 col-right form-control" name="cantidad" >
                                                        <h4 style="text-align: center; font-weight: bold; color: black" class="col-md-8 col-left" > X {{producto.id_producto.id_tipo_unidad.nombre}}</h4>
                                                    </div>
                                                    <br/><br/>
                                                    <div class="modal-footer btn-toolbar">
                                                        <button onclick="return agregar({{ producto.id  }},document.getElementById('cantidad{{producto.id_producto}}').value)" type="submit" id="id_agregar" class="btn btn-default btn-success"  data-dismiss="modal">
                                                            <span class="glyphicon glyphicon-save"></span> Agregar
                                                        </button>
                                                        <button type="submit" class="btn btn-default pull-right" data-dismiss="modal"
                                                                style="margin-left: 5px">
                                                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                               </div>
                           </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
     </section>
    </header>
{% endblock content %}
