{% extends 'layout/consumidor_layout.html' %}

{% block title %}
	Compras
{% endblock %}

{% block content %}
	<header class="masthead" style="background: white">
		<script>
            function addProducto(productoId, cantidad){
                disp = $("#disp_"+productoId).val()
                if (parseInt(disp) < cantidad) {
                    $("#mensaje").html('Puede ordenar máximo '+parseInt(disp)+' productos');
                } else {
                    $.ajax({
                    type: "POST",
                    url: location.origin+"/consumidor/agregar_producto/",
                    data: JSON.stringify({ productoId : productoId ,
                                           cantidad : cantidad,
                                           catalogo : {{catalogo.id}},
                                           carrito: sessionStorage.getItem('carrito')
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        sessionStorage.setItem('carrito', data.carrito_id)
                        sessionStorage.setItem('items', JSON.stringify(data.items));
                        window.location = location.origin+"/consumidor/catalogo_compras/";
                    },
                    failure: function(errMsg){
                       alert("Hubo un error");
                    }
                 });
                }
            }

            function deleteProducto(productoId, cantidad, itemId){
                enCarrito = $("#carr_"+itemId).val()
                if (parseInt(enCarrito) < cantidad) {
                    $("#mensaje").html('Puede eliminar máximo '+parseInt(enCarrito)+' productos');
                } else {
                    $.ajax({
                        type: "PUT",
                        url: location.origin + "/consumidor/eliminar_producto/",
                        data: JSON.stringify({
                            productoId: productoId,
                            cantidad: cantidad,
                            catalogo: {{catalogo.id}},
                            carrito: sessionStorage.getItem('carrito')
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            sessionStorage.setItem('carrito', data.carrito_id)
                            sessionStorage.setItem('items', JSON.stringify(data.items));
                            window.location = location.origin + "/consumidor/catalogo_compras/";
                        },
                        failure: function (errMsg) {
                            alert("Hubo un error");
                        }
                    });
                }
            }
            function getCantidad(prodId){
                if (sessionStorage.items !== undefined) {
                    itemList = JSON.parse(sessionStorage.items)
                    for (i = 0; i < itemList.length; i++) {
                        item = itemList[i]
                        if (parseInt(item.producto) == prodId) {
                            return item.cantidad
                        }
                    }
                }
                return 0;
            }
            function getDelHide(){
               if (sessionStorage.items !== undefined) {
                    itemList = JSON.parse(sessionStorage.items)
                    for (i = 0; i < itemList.length; i++) {
                        item = itemList[i]
                       $("#boton_del_"+item.producto).css('visibility', 'visible')
                    }
                }
            }

			function redirectConfirmar()
        	{
        	  $.getJSON(location.origin+"/isLogged/").done(function(data) {
                if (data.mensaje == "no") {
                    $("#mensaje").html('Por favor ingrese al sistema con un usuario registrado');
                } else {
                     productosCarrito = $("#cantidadItems").val();
                     if(parseInt(productosCarrito) > 0) {
                        window.location = "{% url 'consumidor:confirmarCompra' %}";
                      }else {
                         $("#mensaje").html('Por favor ingrese al menos un producto al carrito para realizar una compra.');
                     }
                 }
              });
			}

            $.getJSON(location.origin+"/consumidor/seleccionarProductos/").done(function (data) {
                 var options = $("#listaProducto");
                 $.each(data, function () {
                    options.append($("<option />").val(this.id).text(this.nombre));
                });
                filtrarProductos(1)
            });
            $.ajax({
                    type: "GET",
                    url: location.origin+"/consumidor/items_carrito/",
                    data: { carrito: sessionStorage.getItem('carrito')},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#cantidadItems").html(data.sum);
                        $("#mensaje").html('');
                    },
                    failure: function(errMsg){
                       alert("Hubo un error");
                    }
                 });
			function filtrarProductos(page) {
                var selected_producto = $("#listaProducto").val();
                console.log("id producto"+selected_producto);
                    $.getJSON(location.origin+"/consumidor/seleccionarProducto/" + selected_producto +"/"+page).done(function (data) {
                        var HTML = "";
                        $('#productoscompra').empty();
                        paginacion(data[0].prodCatalogoPag)
                        $.each(data[0].prodCatalogo, function (key, val) {
                            HTML += "<input type='hidden' id='disp_"+val.id+"' value='"+val.cantidadDisp+"'>"
                            HTML += "<input type='hidden' id='carr_" + val.id + "' value='" + getCantidad(val.id) + "'>"
                            HTML += "<div class=\"col-md-3 col-sm-6 col-lg-3\" style=\"padding:0 5px 0 5px; border: 1px solid #6c757d \">";
                            HTML += "<div class=\"panel panel-default\" style=\"padding:0; height: 395px; background-color: white\">";
                            HTML += "<div class=\"panel-body\">";
                            HTML += "<div id='boton_del_"+val.id+"' class=\"row\" style='visibility:hidden'><div class=\"col\" style=\"text-align: right\" >";
                            HTML += "<button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target='#eliminar_prod_modal" + val.id + "'>";
                            HTML += "<i class=\"fa fa-trash-o\" style=\"font-size:24px\"></i>";
                            HTML += "</button></div></div>";
                            HTML += "<div style=\"height: 150px\">";
                            HTML += "<img class='img-responsive' src=\"/static/" + val.foto + "\" style=\"margin: 0 auto; max-height: 120px\">";
                            HTML += "</div><br/>";
                            HTML += "<div style=\"height: 120px\">";
                            HTML += "<h3 style=\"text-align: center; font-weight: bold; color: black\">" + val.producto + "</h3>";
                            HTML += "<span style=\"text-align: center; overflow: auto; color: black\">" + val.cantidadDisp + " Unidades disponibles </span>";
                            HTML += "<br/>";
                            HTML += "<span style=\"text-align: center; overflow: auto; color: black\">$" + val.precio + "</span>";
                            HTML += "<br/>";
                            HTML += "<span style=\"text-align: center; overflow: auto; color: black\" >Unidad X " + val.unidad + "</span>";
                            HTML += "<br/><br/>";
                            HTML += "<button type=\"button\" class=\"btn btn-primary btn-md\" data-toggle=\"modal\" data-target=\"#agregar_prod_modal" + val.id + "\">";
                            HTML += "<i class=\"fa fa-shopping-cart\" style=\"font-size:24px\"></i> Añadir al carrito";
                            HTML += "</button></div>";

                            //Modal add
                            HTML += "<div class=\"modal fade\" id=\"agregar_prod_modal" + val.id + "\" tabindex=\"-1\" role=\"dialog\" >";
                            HTML += "<div class=\"modal-dialog\" role=\"document\" id=\"" + val.id + "\">";
                            HTML += "<div class=\"modal-content\" >";
                            HTML += "<div class=\"modal-header\" style=\"background-color: #F05F40\">";
                            HTML += "<a class=\"navbar-brand js-scroll-trigger\" style=\"text-align: center; font-weight: bold\"> Agregar al carrito</a>";
                            HTML += "</div>";
                            HTML += "<div class=\"modal-body\">";
                            HTML += "<form   id=\"form\" role=\"form\" action=\"agregar_producto\" method=\"post\" enctype=\"multipart/form-data\" id=\"addProd-form\" novalidate=\"novalidate\">";
                            HTML += "{% csrf_token %}";
                            HTML += "<h3 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >" + val.producto + "</h3>";
                            HTML += "<h6 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >Unidades en el carrito ("+ getCantidad(val.id)+")</h6>";
                            HTML += "<br/><div class=\"row\">";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\">Cantidad: </span></div>";
                            HTML += "<div class=\"col\">";
                            HTML += "<input type=\"number\" min=\"0\"  id=\"cantidad" + val.idProducto + "\" value=\"0\" name=\"cantidad\" style=\"text-align: center\"></div>";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\"> X " + val.unidad + "</span></div>";
                            HTML += "</div><br/><br/>";
                            HTML += "<div class=\"modal-footer btn-toolbar\">";
                            HTML += "<button onclick=\"return addProducto(" + val.id + ",document.getElementById('cantidad" + val.idProducto + "').value)\" type=\"submit\" id=\"id_agregar\" class=\"btn btn-primary btn-success\"  data-dismiss=\"modal\">";
                            HTML += "<i class=\"fa fa-check\" style=\"font-size:24px\"></i> Agregar";
                            HTML += "</button>";
                            HTML += "<button type=\"submit\" class=\"btn btn-default pull-right\" data-dismiss=\"modal\" style=\"margin-left: 5px; background-color: lightgrey\">";
                            HTML += "<i class=\"fa fa-remove\" style=\"font-size:24px\"></i> Cancelar";
                            HTML += "</button></div></form></div></div></div></div>";

                            //Modal remove
                            HTML += "<div class=\"modal fade\" id=\"eliminar_prod_modal" + val.id + "\" tabindex=\"-1\" role=\"dialog\" >";
                            HTML += "<div class=\"modal-dialog\" role=\"document\" id=\"elp" + val.id + "\">";
                            HTML += "<div class=\"modal-content\" >";
                            HTML += "<div class=\"modal-header\" style=\"background-color: #F05F40\">";
                            HTML += "<a class=\"navbar-brand js-scroll-trigger\" style=\"text-align: center; font-weight: bold\"> Eliminar del carrito</a>";
                            HTML += "</div>";
                            HTML += "<div class=\"modal-body\">";
                            HTML += "<form role=\"form\" action=\"eliminar_producto\" method=\"post\" enctype=\"multipart/form-data\" id=\"restProd-form\" novalidate=\"novalidate\">";
                            HTML += "{% csrf_token %}";
                            HTML += "<h3 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >" + val.producto + "</h3>";
                            HTML += "<h6 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >Unidades en el carrito ("+ getCantidad(val.id)+")</h6>";
                            HTML += "<br/><div class=\"row\">";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\">Cantidad: </span></div>";
                            HTML += "<div class=\"col\" style=\"text-align: right\">";
                            HTML += "<input type=\"number\" min=\"0\"  id=\"restCantidad" + val.idProducto + "\" value=\"0\" name=\"restCantidad\" style=\"text-align: center\"></div>";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\"> X " + val.unidad + "</span></div>";
                            HTML += "</div><br/><br/>";
                            HTML += "<div class=\"modal-footer btn-toolbar\">";
                            HTML += "<button onclick=\"return deleteProducto(" + val.idProducto + ",document.getElementById('restCantidad" + val.idProducto + "').value," + val.id + ")\" type=\"submit\" id=\"id_agregar\" class=\"btn btn-primary btn-success\"  data-dismiss=\"modal\">";
                            HTML += "<i class=\"fa fa-check\" style=\"font-size:24px\"></i> Eliminar";
                            HTML += "</button>";
                            HTML += "<button type=\"submit\" class=\"btn btn-default pull-right\" data-dismiss=\"modal\" style=\"margin-left: 5px; background-color: lightgrey\" >";
                            HTML += "<i class=\"fa fa-remove\" style=\"font-size:24px\"></i> Cancelar";
                            HTML += "</button></div></form></div></div></div></div></div></div></div>";
                        });

                        $('#productoscompra').append(HTML);
                        $("#productoscompra").show();
                        getDelHide()
                    });
            }

            function paginacion(prodCatalogoPag){
		    $('#pagination').empty()
		    if (prodCatalogoPag.has_other_pages){
                $('#pagination').append("<ul class='pagination' id='paginationList'></ul>")
                if (prodCatalogoPag.has_previous)
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+prodCatalogoPag.previous_page_number+")'  class='btn btn-basic'>&laquo;</button></li>")
                else
                    $('#paginationList').append("<li class='disabled'><span>&laquo;</span></li>")
                for (i = 1; i <= prodCatalogoPag.page_range; i++) {
                if (prodCatalogoPag.current_page == i )
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+i+")' class='btn btn-primary'>"+i+"</button></li>")
                else
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+i+")' class='btn btn-basic'>"+i+"</button></li>")
                }
                if (prodCatalogoPag.has_next){
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+prodCatalogoPag.next_page_number+")'  class='btn btn-basic'>&raquo;</button></li>")
                } else {
                    $('#paginationList').append("<li class='disabled'><span>&raquo;</span></li>")
                }
            }
        }

		</script>
		<section id="Consumidor" >
			<div class="container">
				<div class="row">
                    <div class="col" style="text-align: left">
						<label style="font-weight:bold; color: black">CATÁLOGO #{{ catalogo.id }}:
							<label style="color: black; font-weight:inherit">{{catalogo.fecha_inicio}} - {{catalogo.fecha_fin}}</label>
						</label>
                    </div>
                    <div class="col" style="text-align: right">
                        <button type="button" class='btn btn-primary' style="padding:0; height: 45px; width: 70px" onclick="redirectConfirmar()">
                            <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                            <span id="cantidadItems"></span>
                        </button>
                        <br/><label id="mensaje" style="color: darkred"></label>
                    </div>
				</div>
				<div class="row" id="filtroProducto">
					<div class="col-md-4 text-left col-centered">
						<form method="post" action="" enctype="multipart/form-data" name="filtro">
							<div class="form-group" >
								<label for="listaProducto" style="color: black">Productos:</label>
                                <select name="" id="listaProducto" class="form-control" onchange="filtrarProductos(1)">
                                    <option selected value="-1">Todos... </option>
                                </select>
							</div>
						</form>
					</div>
				</div>
				</br>
                <div class="row" id="productoscompra"></div>
			</div>
            <div class="row" >
                <div class="col-md-8" id="pagination">

                </div>
            </div>
		</section>
	</header>
{% endblock content %}
