{% extends 'layout/consumidor_layout.html' %}

{% block title %}
	Compras
{% endblock %}

{% block content %}
	<header class="masthead" style="background: whitesmoke">
		<script>
            function addProducto(productoId,total){
                var valor = sessionStorage.getItem(productoId);
                var cantidad = 0;
                if(valor != null){
                    cantidad = parseInt(valor);
                    cantidad = parseInt(cantidad) + parseInt(total);
                }else{
                    cantidad = total;
                }
                sessionStorage.setItem(productoId,cantidad);
                calcularTotalProductos();
            }

            function deleteProducto(productoId,total){
                var valor = sessionStorage.getItem(productoId);
                var cantidad = 0;
                if(valor != null){
                    cantidad = parseInt(valor);
                    if(cantidad == 0){
                        alert("No hay items del carrito para eliminar.");
                    }else{
                        cantidad = parseInt(cantidad) - parseInt(total);
                        if(cantidad < 0){
                            cantidad = 0;
                        }
                        sessionStorage.setItem(productoId,cantidad);
                        calcularTotalProductos();
                    }
                }else{
                    alert("No hay items del carrito para eliminar.");
                }
            }

            function calcularTotalProductos()
        	{
        	    var cantidadTotal = 0;
				for(var i=0;i<sessionStorage.length;i++){
                    var producto =sessionStorage.key(i);
                    var cantidad = sessionStorage.getItem(producto);
                    cantidadTotal = cantidadTotal + (parseInt(cantidad));
                }
                $("#cantidadItems").html(cantidadTotal);
			}

			(function () {
               var cantidadTotal = 0;
				for(var i=0;i<sessionStorage.length;i++){
                    var producto =sessionStorage.key(i);
                    var cantidad = sessionStorage.getItem(producto);
                    cantidadTotal = cantidadTotal + (parseInt(cantidad));
                }
                $("#cantidadItems").html(cantidadTotal);
            }());

			function redirectConfirmar()
        	{
				window.location = "{% url 'consumidor:confirmarCompra' %}";
			}

			$.getJSON("http://localhost:8000/isLogged/").done(function(data){
            if(data.mensaje == "no"){
                $("#cerrar_sesion").hide();
                $("#iniciar_sesion").show();
                $("#btnConfirmarCompra").hide();
            }else{
                $.getJSON("http://localhost:8000/getRol/").done(function(data){
                    if(data.mensaje == "Consumidor"){
                         $("#cerrar_sesion").show();
                         $("#iniciar_sesion").hide();
						 if(intCantItem == 0){
						 	$("#btnConfirmarCompra").hide();
						 }else{
						 	$("#btnConfirmarCompra").show();
						 }
                    }
                });
          }});
            $.getJSON(location.origin+"/consumidor/seleccionarProductos/").done(function (data) {
                 var options = $("#listaProducto");
                 $.each(data, function () {
                    options.append($("<option />").val(this.id).text(this.nombre));
                });
                filtrarProductos(1)
            });

			function filtrarProductos(page) {
                var selected_producto = $("#listaProducto").val();
                console.log("id producto"+selected_producto);
                    $.getJSON(location.origin+"/consumidor/seleccionarProducto/" + selected_producto +"/"+page).done(function (data) {
                        var HTML = "";
                        $('#productoscompra').empty();
                        paginacion(data[0].prodCatalogoPag)
                        $.each(data[0].prodCatalogo, function (key,val) {
                            HTML += "<div class=\"col-md-3 col-sm-6 col-lg-3\" style=\"padding:0 5px 0 5px\">";
                            HTML += "<div class=\"panel panel-default\" style=\"padding:0; height: 390px; background-color: white\">";
                            HTML += "<div class=\"panel-body\">";
                            HTML += "<div class=\"row\"><div class=\"col\" style=\"text-align: right\">";
                            HTML += "<button type=\"button\" class=\"btn btn-danger btn-circle\" data-toggle=\"modal\" data-target=\"#eliminar_prod_modal" + val.id + "\">";
                            HTML += "<i class=\"fa fa-minus\" style=\"font-size:24px\"></i>";
                            HTML += "</button></div></div>";
                            HTML += "<div style=\"height: 150px\">";
                            HTML += "<img class=\"img-responsive\" src=\"/static/" + val.foto + "\" style=\"margin: 0 auto; max-height: 150px\">";
                            HTML += "</div><br/>";
                            HTML += "<div style=\"height: 120px\">";
                            HTML += "<h3 style=\"text-align: center; font-weight: bold; color: black\">" + val.producto + "</h3>";

                            HTML += "<br/>";
                            HTML += "<span style=\"text-align: center; overflow: auto; color: black\">$" + val.precio + "</span>";
                            HTML += "<br/>";
                            HTML += "<span style=\"text-align: center; overflow: auto; color: black\" >Unidad X " + val.unidad + "</span>";
                            HTML += "<br/><br/>";
                            HTML += "<button type=\"button\" class=\"btn btn-primary btn-md\" data-toggle=\"modal\" data-target=\"#agregar_prod_modal" + val.id + "\">";
                            HTML += "<i class=\"fa fa-shopping-cart\" style=\"font-size:24px\"></i> Añadir al carrito";
                            HTML += "</button></div>";

                            //Modal add
                            HTML += "<div class=\"modal fade\" id=\"agregar_prod_modal" + val.id + "\" tabindex=\"-1\" role=\"dialog\" >";
                            HTML += "<div class=\"modal-dialog\" role=\"document\" id=\"" + val.id + "\">";
                            HTML += "<div class=\"modal-content\" >";
                            HTML += "<div class=\"modal-header\" style=\"background-color: #F05F40\">";
                            HTML += "<a class=\"navbar-brand js-scroll-trigger\" style=\"text-align: center; font-weight: bold\"> Agregar al carrito</a>";
                            HTML += "</div>";
                            HTML += "<div class=\"modal-body\">";
                            HTML += "<form   id=\"form\" role=\"form\" action=\"agregar_producto\" method=\"post\" enctype=\"multipart/form-data\" id=\"addProd-form\" novalidate=\"novalidate\">";
                            HTML += "{% csrf_token %}";
                            HTML += "<h3 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >" + val.producto + "</h3>";
                            HTML += "<br/><div class=\"row\">";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\">Cantidad: </span></div>";
                            HTML += "<div class=\"col\">";
                            HTML += "<input type=\"number\" min=\"0\"  id=\"cantidad" + val.idProducto + "\" value=\"0\" name=\"cantidad\" style=\"text-align: center\"></div>";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\"> X " + val.unidad + "</span></div>";
                            HTML += "</div><br/><br/>";
                            HTML += "<div class=\"modal-footer btn-toolbar\">";
                            HTML += "<button onclick=\"return addProducto(" + val.idProducto + ",document.getElementById('cantidad" + val.idProducto + "').value)\" type=\"submit\" id=\"id_agregar\" class=\"btn btn-primary btn-success\"  data-dismiss=\"modal\">";
                            HTML += "<i class=\"fa fa-check\" style=\"font-size:24px\"></i> Agregar";
                            HTML += "</button>";
                            HTML += "<button type=\"submit\" class=\"btn btn-default pull-right\" data-dismiss=\"modal\" style=\"margin-left: 5px; background-color: lightgrey\">";
                            HTML += "<i class=\"fa fa-remove\" style=\"font-size:24px\"></i> Cancelar";
                            HTML += "</button></div></form></div></div></div></div>";

                            //Modal remove
                            HTML += "<div class=\"modal fade\" id=\"eliminar_prod_modal" + val.id + "\" tabindex=\"-1\" role=\"dialog\" >";
                            HTML += "<div class=\"modal-dialog\" role=\"document\" id=\"elp" + val.id + "\">";
                            HTML += "<div class=\"modal-content\" >";
                            HTML += "<div class=\"modal-header\" style=\"background-color: #F05F40\">";
                            HTML += "<a class=\"navbar-brand js-scroll-trigger\" style=\"text-align: center; font-weight: bold\"> Eliminar del carrito</a>";
                            HTML += "</div>";
                            HTML += "<div class=\"modal-body\">";
                            HTML += "<form role=\"form\" action=\"eliminar_producto\" method=\"post\" enctype=\"multipart/form-data\" id=\"restProd-form\" novalidate=\"novalidate\">";
                            HTML += "{% csrf_token %}";
                            HTML += "<h3 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >" + val.producto + "</h3>";
                            HTML += "<h6 id=\"nombre\" style=\"text-align: center; font-weight: bold; color: black\" >Unidades en el carrito("+ sessionStorage.getItem(val.idProducto)+")</h6>";
                            HTML += "<br/><div class=\"row\">";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\">Cantidad: </span></div>";
                            HTML += "<div class=\"col\" style=\"text-align: right\">";
                            HTML += "<input type=\"number\" min=\"0\"  id=\"restCantidad" + val.idProducto + "\" value=\"0\" name=\"restCantidad\" style=\"text-align: center\"></div>";
                            HTML += "<div class=\"col\"><span style=\"text-align: center; overflow: auto; color: black; font-weight: bold\"> X " + val.unidad + "</span></div>";
                            HTML += "</div><br/><br/>";
                            HTML += "<div class=\"modal-footer btn-toolbar\">";
                            HTML += "<button onclick=\"return deleteProducto(" + val.idProducto + ",document.getElementById('restCantidad" + val.idProducto + "').value)\" type=\"submit\" id=\"id_agregar\" class=\"btn btn-primary btn-success\"  data-dismiss=\"modal\">";
                            HTML += "<i class=\"fa fa-check\" style=\"font-size:24px\"></i> Eliminar";
                            HTML += "</button>";
                            HTML += "<button type=\"submit\" class=\"btn btn-default pull-right\" data-dismiss=\"modal\" style=\"margin-left: 5px; background-color: lightgrey\" >";
                            HTML += "<i class=\"fa fa-remove\" style=\"font-size:24px\"></i> Cancelar";
                            HTML += "</button></div></form></div></div></div></div></div></div></div>";
                        });

                        $('#productoscompra').append(HTML);
                        $("#productoscompra").show();
                    });
            }

            function paginacion(prodCatalogoPag){
		    $('#pagination').empty()
		    if (prodCatalogoPag.has_other_pages){
                $('#pagination').append("<ul class='pagination' id='paginationList'></ul>")
                if (prodCatalogoPag.has_previous)
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+prodCatalogoPag.previous_page_number+")'  class='btn btn-basic'>&laquo;</button></li>")
                else
                    $('#paginationList').append("<li class='disabled'><span>&laquo;</span></li>")
                for (i = 1; i <= prodCatalogoPag.page_range; i++) {
                if (prodCatalogoPag.current_page == i )
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+i+")' class='btn btn-primary'>"+i+"</button></li>")
                else
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+i+")' class='btn btn-basic'>"+i+"</button></li>")
                }
                if (prodCatalogoPag.has_next){
                    $('#paginationList').append("<li><button onclick='filtrarProductos("+prodCatalogoPag.next_page_number+")'  class='btn btn-basic'>&raquo;</button></li>")
                } else {
                    $('#paginationList').append("<li class='disabled'><span>&raquo;</span></li>")
                }
            }
        }
		</script>
		<section id="Consumidor">
			<div class="container">
				<div class="row">
                    <div class="col" style="text-align: right">
                        <button type="button" class='btn btn-primary' style="padding:0; height: 50px; width: 70px">
                            <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                            <span id="cantidadItems"></span>
                        </button>
						<button type="button" id="btnConfirmarCompra" class="btn_evaluar_ok buttonStyle"
								style="padding:0; margin-top: 10px; height: 50px; width: 70px" onclick="redirectConfirmar()">
                            <i class="fa fa-check-square" style="font-size:24px"></i>
                            <span id="confirmarCompra"></span>
                        </button>
                    </div>
				</div>
				<div class="row" id="filtroProducto">
					<div class="col-md-4 text-left col-centered">
						<form method="post" action="" enctype="multipart/form-data" name="filtro">
							<div class="form-group" >
								<label for="listaProducto" style="color: black">Productos:</label>
                                <select name="" id="listaProducto" class="form-control" onchange="filtrarProductos(1)">
                                    <option selected value="-1">Todos... </option>
                                </select>
							</div>
						</form>
					</div>
				</div>
				</br>
                <div class="row" id="productoscompra"></div>
			</div>
            <div class="row" >
                <div class="col-md-8" id="pagination">

                </div>
            </div>
		</section>
	</header>
{% endblock content %}
