{% extends 'layout/productor_layout.html' %}

{% block title %}
    Productor
{% endblock %}

{% block content %}
     <header class="masthead" style="background: whitesmoke">
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
     <section id="Productor">
         <script>
             $(document).ready(function () {

                 //Productos vendidos por el productor
                 $.post( location.origin+"/productor/listaProductos/productor/").done(function( data ) {
                     var options = $("#productos");
                     if(!data.mensaje)
                     {
                         console.log(data);
                         producto = data[0]['productos'];
                         options.append($("<option />").val('').text('Seleccione producto'));
                         $.each(producto, function() {
                             options.append($("<option />").val(this.id).text(this.producto));
                         });
                     }
                     else
                     {
                         options.append($("<option />").val('').text('Seleccione producto'));
                     }
                 });

                 //Submit del formulario de busqueda
                 $( "#form_filters" ).submit(function( event ) {
                     var fecha_desde = $('#fecha_inicio').val();
                     var fecha_hasta = $('#fecha_fin').val();
                     var producto = $('#productos').val();
                     if((fecha_desde && !fecha_hasta) || (!fecha_desde && fecha_hasta))
                     {
                         alert("Le falta una de las fechas para hacer el filtro!");
                     }
                     if (fecha_hasta < fecha_desde)
                     {
                         alert('La fecha hasta debe ser mayor a la fecha hasta!');
                     }
                     else if(fecha_desde && fecha_hasta && producto)
                     {
                         //Ofertas vendidas por rango de fechas y determinado producto
                         $.post( location.origin+"/productor/listaOfertas/fechaProductoryProducto/", JSON.stringify({ fechaInicio: fecha_desde, fechaFin: fecha_hasta, idProducto: producto })).done(function( data ) {
                             $('#tipo_filtro').text("Filtro: Por rango de fechas de ofertas y producto.");
                             mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row);
                             paginacion(data[0].ofertasPag);
                         });
                     }
                     else if(fecha_desde && fecha_hasta)
                     {
                         //Ofertas vendidas por rango de fechas

                         $.post( location.origin+"/productor/listaOfertas/fechayProductor/", JSON.stringify({ fechaInicio: fecha_desde, fechaFin: fecha_hasta })).done(function( data ) {
                             $('#tipo_filtro').text("Filtro: Por rango de fechas de ofertas.");
                             mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row);
                             paginacion(data[0].ofertasPag);
                         });
                     }
                     else if(producto)
                     {
                         //Ofertas vendidas por determinado producto

                         $.ajax({
                            type: "POST",
                            url: location.origin+"/productor/listaOfertas/productoryProducto/",
                            data: JSON.stringify({ idProducto: producto }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                $('#tipo_filtro').text("Filtro: Por producto.");
                                console.log(data);
                                mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row);
                                paginacion(data[0].ofertasPag);
                            },
                            failure: function (data) {
                                console.log(data);
                                alert('Hubo error!');
                            }
                        });
                     }
                     else
                     {
                         $.getJSON( location.origin+"/productor/ofertas_por_productor/").done(function (data) {
                             console.log("Todas las ofertas");
                             console.log(data);
                             $('#tipo_filtro').text("Filtro: Todas las ofertas");
                             mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row);
                             paginacion(data[0].ofertasPag);
                         });
                     }
                     event.preventDefault();
                 });

             });

             function formatDate(d)
             {
                 var day = ("0" + d.getDay()).slice(-2);
                 var month = d.getMonth();
                 month ++;
                 month = ("0" + month).slice(-2);
                 var year = d.getFullYear();
                 var hour = ("0" + d.getHours()).slice(-2);
                 var min = ("0" + d.getMinutes()).slice(-2);
                 return year + "-" + month + "-" + day + " " + hour + ":" + min;
             }

             function enviarForm(page) {
                 $.ajax({
                     type: "POST",
                     url: location.origin+"/productor/listarOfertas/?page="+page,
                     data: JSON.stringify({filter: $('#listaEstados').val()}),
                     contentType: "aplication/json; charset-utf-8",
                     dataType: "json",
                     success: function (data) {
                         mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row)
                         paginacion(data[0].ofertasPag)
                     },
                     failure: function (errMsg) {
                         alert("Hubo un error");
                     }
                 });
                 return false;
             };

             function mostrarOfertas(ofertas, current)
             {
                 console.log(ofertas);
                 $('#listaOfertas').empty();

                 $.each(ofertas, function (i, item) {
                     var row = current;
                     $('#listaOfertas').append(
                         "<tr style=\"color: black\"style=\"color: black\"> " +
                         "<th scope='row'>"+(row+i)+"</th>"+
                         "<td>"+item.producto+"</td>" +
                         "<td>"+item.unidad+"</td>"+
                         "<td>"+item.cantidadVendida+"</td>"+
                         "<td>"+item.precio+"</td>"+
                         "<td><p><label>"+item.fechaOferta+"</label></p></td>" +
                         "</tr>"
                     );
                     i++;
                 });
             }
             function paginacion(ofertasPag)
             {
                 $('#pagination').empty();

                 if (ofertasPag.has_other_pages){
                     $('#pagination').append("<ul class='pagination' id='paginationList'></ul>")
                     if (ofertasPag.has_previous)
                         $('#paginationList').append("<li><button onclick='enviarForm("+ofertasPag.previous_page_number+")'  class='btn btn-basic'>&laquo;</button></li>")
                     else
                         $('#paginationList').append("<li class='disabled'><span>&laquo;</span></li>")
                     for (i = 1; i <= ofertasPag.page_range; i++) {
                         if (ofertasPag.current_page == i )
                             $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-primary'>"+i+"</button></li>")
                         else
                             $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-basic'>"+i+"</button></li>")
                     }
                     if (ofertasPag.has_next){
                         $('#paginationList').append("<li><button onclick='enviarForm("+ofertasPag.next_page_number+")'  class='btn btn-basic'>&raquo;</button></li>")
                     } else {
                         $('#paginationList').append("<li class='disabled'><span>&raquo;</span></li>")
                     }
                 }
             }

         </script>
         <div class="container" >
            <div class="row">
                <h1 style="color: black">Ofertas Vendidas</h1>
            </div>
            <div class="row" id="filtros">
                <div style="margin-top: 15px">
                    <form method="post" action="" name="filtros" id="form_filters">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="fecha_inicio" class="label-control" style="color: black">Fecha desde:</label>
                                        <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    &nbsp; &nbsp;
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="fecha_fin" class="label-control" style="color: black">Fecha hasta:</label>
                                        <input type="date" name="fecha_fin" id="fecha_fin" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    &nbsp; &nbsp;
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="productos" class="label-control" style="color: black">Productos:</label>
                                        <select name="" id="productos" class="form-control"></select>
                                    </div>
                                </td>
                                <td>
                                    &nbsp; &nbsp;
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="enviar">&nbsp;</label><br>
                                        <input type="submit" class="btn btn-primary" value="Buscar" id="enviar">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <strong><span id="tipo_filtro" style="margin-bottom: 15px; color: #0b0b0b;"></span></strong>
                <table id="lista_ofertas_productor" class="table table-responsive">
                    <thead>
                        <tr style="color: black">
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-1">Producto</th>
                            <th class="col-xs-1">Unidad</th>
                            <th class="col-xs-1">Cantidad Vendida</th>
                            <th class="col-xs-1">Precio</th>
                            <th class="col-xs-1">Fecha de la oferta</th>
                        </tr>
                    </thead>
                    <tbody id="listaOfertas">

                    </tbody>
                </table>
            </div>
            <div class="row" >
                <div class="col-md-8" id="pagination">

                </div>
            </div>
         </div>
     </section>
    </header>
{% endblock %}
