{% extends 'layout/productor_layout.html' %}

{% block title %}
    Productor
{% endblock %}

{% block content %}
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	 <script>

        (function () {
            $.getJSON( location.origin+"/productor/listarProductosOfertas/").done(function (data) {
			    var options = $("#listaProductos");
                 $.each(data, function() {
                    options.append($("<option />").val(this.id).text(this.nombre));
                });
			});
		    $.getJSON( location.origin+"/productor/listarEstados/").done(function (data) {
			    $.each(data, function (i, item) {
		            $('#listaEstados').append(' <option value="'+item.pk+'">'+item.fields.nombre+'</option>');
                });
			});
		    $.getJSON( location.origin+"/productor/listarOfertas/").done(function (data) {
			     mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row)
                 paginacion(data[0].ofertasPag)
                });

        })();
         function EditarOferta() {
		    $.ajax({
                type: "POST",
                url: location.origin+"/productor/editarOferta",
                data: JSON.stringify({ precio: $('#inputPrecio').val(),
                                       cantidad: $('#inputCantidad').val(),
                                       oferta: $('#inputOferta').text(),
                                     }),
                contentType: "aplication/json; charset-utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data,function (i,item) {
                        if (item.mensaje == 'OK') {
                            window.location = "{% url 'productor:ver_ofertas' %}";
                        }
                        else {
                            $("#mess-error").hide();
                            $("#mensaje").html('Error');
                        }
                      })
                },
                failure: function (errMsg) {
                    alert("Hubo un error");
                }
            });
            return false;
        }
        function enviarForm(page) {
		    $.ajax({
                type: "POST",
                url: location.origin+"/productor/listarOfertas/?page="+page,
                data: JSON.stringify({filter_estado: $('#listaEstados').val(),
                                      filter_producto: $('#listaProductos').val()}),
                contentType: "aplication/json; charset-utf-8",
                dataType: "json",
                success: function (data) {
                    mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row)
                    paginacion(data[0].ofertasPag)
                },
                failure: function (errMsg) {
                    alert("Hubo un error");
                }
            });
            return false;
        };
		function mostrarOfertas(catalogo_list, current){
		    $('#listaOfertas').empty()
            console.log(catalogo_list)
            first = true
            $.each(catalogo_list, function (i, semana) {
                if (first) {
                    link = "<a data-toggle='collapse' href='#collapse_" + semana.catalogo.id + "' aria-expanded='true' aria-controls='collapse_" + semana.catalogo.id + "'> "
                    content = "<div id='collapse_" + semana.catalogo.id + "' class='collapse show' role='tabpanel' aria-labelledby='heading_" + semana.catalogo.id + "' data-parent='#listaOfertas'> "
                    first = false
                } else {
                    link = "<a class='collapsed' data-toggle='collapse' href='#collapse_" + semana.catalogo.id + "' aria-expanded='false' aria-controls='collapse_" + semana.catalogo.id + "'> "
                    content = "<div id='collapse_" + semana.catalogo.id + "' class='collapse' role='tabpanel' aria-labelledby='heading_" + semana.catalogo.id + "' data-parent='#listaOfertas'> "
                }
                $('#listaOfertas').append("<div class='card'> " +
                    "    <div class='card-header' role='tab' id='heading_" + semana.catalogo.id + "'> " +
                    "        <h5 class='mb-0'> " +
                                link +
                    "               Semana #" + semana.catalogo.id + " : " + semana.catalogo.fecha_ini + " - " + semana.catalogo.fecha_fin +
                    "               &nbsp&nbsp("+semana.ofertas.length+")"  +
                    "           </a> " +
                    "        </h5> " +
                    "   </div> " +
                       content +
                    "      <div class='card-body'> " +
                    "        <table class='table table-responsive'> " +
                    "             <thead> " +
                    "               <tr style='color: black'>" +
                    "                 <th class='col-xs-1'>#</th>" +
                    "                 <th class='col-xs-1'>Fecha de la oferta</th>" +
                    "                 <th class='col-xs-1'>Producto</th>" +
                    "                 <th class='col-xs-1'>Cantidad</th>" +
                    "                 <th class='col-xs-1'>Unidad</th>" +
                    "                 <th class='col-xs-1'>Vendidos</th>" +
                    "                 <th class='col-xs-1'>Precio</th>" +
                    "                 <th class='col-xs-1'>Estado</th>" +
                    "               </tr>" +
                    "             </thead>" +
                    "             <tbody id='ofertas_catlogo_" + semana.catalogo.id + "' >" +
                    "             </tbody> " +
                    "          </table> " +
                    "      </div> " +
                    "   </div> " +
                    "</div>");
                

                $.each(semana.ofertas, function (i, item) {
                    var row = current
                    $('#ofertas_catlogo_'+item.catalogo_id).append(
                        "       <tr style='color: black'style='color: black'> " +
                        "          <th scope='row'>"+(row+i)+"</th>"+
                        "          <td align='center'><p><label>"+item.fecha+"</label></p></td>" +
                        "          <td align='center'>"+item.producto+"</td>" +
                        "          <td id='cant_"+item.pk+"' align='center'>"+item.cantidad+"</td>"+
                        "          <td align='center'>"+item.unidad+"</td>" +
                        "          <td align='center'>"+item.vendido+" "+item.unidad+"</td>"+
                        "          <td align='center' id='precio_"+item.pk+"' >"+item.precio+"</td>"+
                        "          <td align='center'>"+item.estado+"</td>" +
                        "          <td align='center' id='editable_"+item.pk+"'>"+"</td>"+
                        "          <td align='center' id='delete_"+item.pk+"'>"+"</td>"+
                        "       </tr>");

                        if (item.editable) {
                            $('#editable_'+item.pk).append("&nbsp<a id='to_edit_"+item.pk+"' href='#' data-toggle='modal' data-target='#modalLogin' onclick='LanzaPopup("+item.pk+")'> <i class='fa fa-edit' style='font-size:24px'></i></a>")
                            $('#delete_'+item.pk).append("&nbsp<a id='to_delete_"+item.pk+"' href='#' onclick='EliminaOferta("+item.pk+")'> <i class='fa fa-trash-o' style='font-size:24px'></i></a>")
                        }
                        i++
                });
            });
            

        };
		function paginacion(ofertasPag){
		    $('#pagination').empty()
		    if (ofertasPag.has_other_pages){
                $('#pagination').append("<ul class='pagination' id='paginationList'></ul>")
                if (ofertasPag.has_previous)
                    $('#paginationList').append("<li><button onclick='enviarForm("+ofertasPag.previous_page_number+")'  class='btn btn-basic'>&laquo;</button></li>")
                else
                    $('#paginationList').append("<li class='disabled'><span>&laquo;</span></li>")
                for (i = 1; i <= ofertasPag.page_range; i++) {
                if (ofertasPag.current_page == i )
                    $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-primary'>"+i+"</button></li>")
                else
                    $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-basic'>"+i+"</button></li>")
                }
                if (ofertasPag.has_next){
                    $('#paginationList').append("<li><button onclick='enviarForm("+ofertasPag.next_page_number+")'  class='btn btn-basic'>&raquo;</button></li>")
                } else {
                    $('#paginationList').append("<li class='disabled'><span>&raquo;</span></li>")
                }
            }
        }

        function EliminaOferta(id){
            $.ajax({
                type: "DELETE",
                url: location.origin+"/productor/oferta/"+id+"/",
                contentType: "aplication/json; charset-utf-8",
                dataType: "json",
                success: function (data) {
                    if (data[0].mensaje == 'OK'){
                        console.log('Se elimina prodcuto')
                        window.location.reload();
                    }
                    else {
                        console.log('Error eliminando la oferta')
                        console.log(data[0].mensaje)
                        alert(data[0].mensaje)
                    }
                },
                failure: function (errMsg) {
                    alert("Error consumiendo el servicio web");
                }
            });
        }

        function LanzaPopup(idOferta) {
		    console.log('oferta: ', idOferta);
            $('#inputOferta').html(idOferta);
        }



    </script>
     <section id="Productor">
         <div class="container" >
            <div class="row">
                <h1 style="color: black">Ofertas</h1>
            </div>
            <div class="row" id="filtroEstados">
                <div class="col-md-4 text-left col-centered">
                    <form method="post" action="" enctype="multipart/form-data" name="filtro">
                        <div class="form-group">
                            <label for="listaEstados" class="label-control" style="color: black">Estado:</label>
                            <select id="listaEstados" onchange="enviarForm()" class="form-control">
                                <option selected value="-1">Todos...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="listaProductos" class="label-control">Producto:</label>
                            <select id="listaProductos" class="form-control" style="margin-bottom: 20px" onchange="enviarForm()">
                                 <option selected value="-1">Todos...</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div id="listaOfertas" role="tablist" align="left">
            </div>
            <div class="row" >
                <div class="col-md-8" id="pagination">

                </div>
            </div>
         </div>
          <!--MODAL-->
         <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog">
             <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #F05F40">
                        <h4 id="nombreProducto" class="modal-lg">Editar oferta producto</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="form-oferta" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label id="inputOferta" class="modal-lg" hidden></label>
                            <input id="inputPrecio" class="form-control" placeholder="Precio" required autofocus ><br>
                            <input id="inputCantidad" class="form-control" placeholder="Cantidad en kg" required>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button id= "editOferBtn" type="button" class="btn btn-primary" onclick="EditarOferta()">Editar</button>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}