{% extends 'layout/productor_layout.html' %}

{% block title %}
    Productor
{% endblock %}

{% block content %}
     <header class="masthead" style="background: whitesmoke">
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	 <script>

        (function () {
            $.getJSON( location.origin+"/productor/listarProductosOfertas/").done(function (data) {
			    var options = $("#listaProductos");
                 $.each(data, function() {
                    options.append($("<option />").val(this.id).text(this.nombre));
                });
			});
		    $.getJSON( location.origin+"/productor/listarEstados/").done(function (data) {
			    $.each(data, function (i, item) {
		            $('#listaEstados').append(' <option value="'+item.pk+'">'+item.fields.nombre+'</option>');
                });
			});
		    $.getJSON( location.origin+"/productor/listarOfertas/").done(function (data) {
			     mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row)
                 paginacion(data[0].ofertasPag)
                });

        })();
        function formtatDate(d) {
            var day = ("0" + d.getDay()).slice(-2);
            var month = d.getMonth();
            month ++;
            month = ("0" + month).slice(-2);
            var year = d.getFullYear();
            var hour = ("0" + d.getHours()).slice(-2);
            var min = ("0" + d.getMinutes()).slice(-2);
            return year+"-"+month+"-"+day+" "+hour+":"+min;
        };
		function enviarForm(page) {
		    $.ajax({
                type: "POST",
                url: location.origin+"/productor/listarOfertas/?page="+page,
                data: JSON.stringify({filter_estado: $('#listaEstados').val(),
                                      filter_producto: $('#listaProductos').val()}),
                contentType: "aplication/json; charset-utf-8",
                dataType: "json",
                success: function (data) {
                    mostrarOfertas(data[0].ofertas, data[0].ofertasPag.first_row)
                    paginacion(data[0].ofertasPag)
                },
                failure: function (errMsg) {
                    alert("Hubo un error");
                }
            });
            return false;
        };
		function mostrarOfertas(ofertas, current){
		    $('#listaOfertas').empty()
            $.each(ofertas, function (i, item) {
                var row = current
                $('#listaOfertas').append("<tr style=\"color: black\"style=\"color: black\"> " +
                                              "<th scope='row'>"+(row+i)+"</th>"+
                                              "<td><p><label>"+item.fecha+"</label></p></td>" +
                                              "<td>"+item.producto+"</td>" +
                                              "<td>"+item.cantidad+"</td>"+
                                              "<td>"+item.unidad+"</td>"+
                                              "<td>"+item.precio+"</td>"+
                                              "<td>"+item.estado+"</td>"+
                                            "</tr>")
                i++
             });
        };
		function paginacion(ofertasPag){
		    $('#pagination').empty()
		    if (ofertasPag.has_other_pages){
                $('#pagination').append("<ul class='pagination' id='paginationList'></ul>")
                if (ofertasPag.has_previous)
                    $('#paginationList').append("<li><button onclick='enviarForm("+ofertasPag.previous_page_number+")'  class='btn btn-basic'>&laquo;</button></li>")
                else
                    $('#paginationList').append("<li class='disabled'><span>&laquo;</span></li>")
                for (i = 1; i <= ofertasPag.page_range; i++) {
                if (ofertasPag.current_page == i )
                    $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-primary'>"+i+"</button></li>")
                else
                    $('#paginationList').append("<li><button onclick='enviarForm("+i+")' class='btn btn-basic'>"+i+"</button></li>")
                }
                if (ofertasPag.has_next){
                    $('#paginationList').append("<li><button onclick='enviarForm("+ofertasPag.next_page_number+")'  class='btn btn-basic'>&raquo;</button></li>")
                } else {
                    $('#paginationList').append("<li class='disabled'><span>&raquo;</span></li>")
                }
            }
        }

    </script>
     <section id="Productor">
         <div class="container" >
            <div class="row">
                <h1 style="color: black">Ofertas</h1>
            </div>
            <div class="row" id="filtroEstados">
                <div class="col-md-4 text-left col-centered">
                    <form method="post" action="" enctype="multipart/form-data" name="filtro">
                        <div class="form-group">
                            <label for="listaEstados" class="label-control" style="color: black">Estado:</label>
                            <select id="listaEstados" onchange="enviarForm()" class="form-control">
                                <option selected value="-1">Todos...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="listaProductos" class="label-control">Producto:</label>
                            <select id="listaProductos" class="form-control" style="margin-bottom: 20px" onchange="enviarForm()">
                                 <option selected value="-1">Todos...</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table id="lista_ofertas_productor" class="table table-responsive">
                    <thead>
                        <tr style="color: black">
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-1">Fecha de la oferta</th>
                            <th class="col-xs-1">Producto</th>
                            <th class="col-xs-1">Cantidad</th>
                            <th class="col-xs-1">Unidad</th>
                            <th class="col-xs-1">Precio</th>
                            <th class="col-xs-1">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="listaOfertas">

                    </tbody>
                </table>
            </div>
            <div class="row" >
                <div class="col-md-8" id="pagination">

                </div>
            </div>
         </div>
     </section>
    </header>
{% endblock %}
